  <div>
    <form id="editForm" action="/posts/edit/{{this._id}}" method="POST">
      <button>Edit</button>
    </form>
    <div id="resultBlock"></div>
    <form id="deleteForm" action="/posts/delete/{{this._id}}" method="POST">
      <button type="submit ">Delete</button>
    </form>
  </div>
